In [1]:
import yfinance as yf

In [7]:
ticker = "BBDC4"
periodo = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

ticker_obj

yfinance.Ticker object <BBDC4.SA>

In [8]:
ticker_obj.history(period=periodo)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-13 00:00:00-03:00,16.260000,16.450001,16.139999,16.290001,29855200,0.0,0.0
2025-06-16 00:00:00-03:00,16.440001,16.740000,16.420000,16.639999,25238300,0.0,0.0
2025-06-17 00:00:00-03:00,16.629999,16.889999,16.610001,16.889999,33555400,0.0,0.0
2025-06-18 00:00:00-03:00,16.629999,16.950001,16.610001,16.760000,32449600,0.0,0.0
2025-06-20 00:00:00-03:00,16.629999,16.740000,16.490000,16.620001,39661600,0.0,0.0

In [16]:
def retorna_cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)
    # Limitar em 30 Resultados
    
    if len(hist)> 30:
        slice_size = max(1, len(hist) // 30)
        hist = hist.iloc[::slice_size].iloc[::-1]
        
    return hist.to_json()

In [18]:
hist = retorna_cotacao("BBAS3")
hist

'{"2025-05-20":25.5,"2025-05-21":25.26,"2025-05-22":25.05,"2025-05-23":24.42,"2025-05-26":24.67,"2025-05-27":24.57,"2025-05-28":24.08,"2025-05-29":23.7,"2025-05-30":23.42,"2025-06-02":23.28,"2025-06-03":22.98,"2025-06-04":22.35,"2025-06-05":22.24,"2025-06-06":21.71,"2025-06-09":21.73,"2025-06-10":21.54,"2025-06-11":21.4,"2025-06-12":21.42,"2025-06-13":21.59,"2025-06-16":21.98,"2025-06-17":21.9,"2025-06-18":21.81,"2025-06-20":21.35}'